---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About'>
  <main class='pt-32 min-h-full px-10 max-w-4xl mx-auto'>
    <h1 class='text-light-500 font-medium text-4xl'>About Gymlink</h1>

    <p class='text-light-400 text-lg mt-4'>
      We understand that going to the gym alone can be daunting and often
      demotivating, which is why we've created this app to help you find friends
      to go to the gym with. Our platform allows you to connect with people in
      your area who have similar fitness goals, schedules, and interests.
    </p>
    <p class='text-light-400 text-lg mt-4'>
      Whether you're a beginner or a seasoned gym-goer, our app is designed to
      help you find a gym buddy who can motivate and inspire you to achieve your
      fitness goals. You can browse through profiles of other users and filter
      by location, age, fitness level, and preferred workout type. Once you find
      someone you like, you can send them a message and start planning your
      workout sessions together.
    </p>
    <p class='text-light-400 text-lg mt-4'>
      Our app is not just about finding gym partners, it's also about building a
      community of fitness enthusiasts who can support and encourage each other.
      You can join groups based on your preferred workout type or fitness goals,
      participate in challenges and events, and share your progress and
      achievements with the community.
    </p>
    <p class='text-light-400 text-lg mt-4'>
      At Gymlink, we believe that working out should be fun, social, and
      rewarding. Download our app today and start your fitness journey with a
      new friend by your side!
    </p>
  </main>
</Layout>
