---
import Layout from "../layouts/Layout.astro";
---

<Layout title="EULA">
  <main class="text-white mx-auto max-w-4xl">
  <h1 class="pt-52 text-4xl">End-User License Agreement (EULA) for Gymlink</h1>
  <p>Last updated: May 3rd, 2023</p>
  <p>
    Please read this End-User License Agreement ("Agreement") carefully before
    using the Post Explore section of the Gymlink application
    ("Application") operated by Gymlink ("us", "we", or "our").
  </p>
  <p>
    Your access to and use of the Post Explore section is conditioned upon your
    acceptance of and compliance with this Agreement. This Agreement applies to
    all visitors, users, and others who wish to access or use the Post Explore
    section.
  </p>
  <p>
    By accessing or using the Post Explore section, you agree to be bound by
    this Agreement. If you disagree with any part of the Agreement, then you do
    not have permission to access the Post Explore section.
  </p>
  <h2>1. License</h2>
  <p>
    Subject to your compliance with this Agreement, we grant you a limited,
    non-exclusive, non-transferable, non-sublicensable, and revocable license to
    access and use the Post Explore section for your personal, non-commercial
    use.
  </p>
  <h2>2. Content</h2>
  <p>
    You are responsible for any content you post, including but not limited to
    text, images, or other materials. You agree not to post content that:
  </p>
  <ul>
    <li>
      Is illegal, offensive, defamatory, threatening, harassing, or
      discriminatory.
    </li>
    <li>
      Violates the intellectual property rights of others, including copyright,
      trademark, or trade secret rights.
    </li>
    <li>
      Contains spam, advertising, or self-promotion without our prior written
      permission.
    </li>
    <li>
      Violates any applicable local, state, national, or international law or
      regulation.
    </li>
  </ul>
  <p>
    We reserve the right to remove or modify any content that violates this
    Agreement or is otherwise objectionable, at our sole discretion.
  </p>
  <h2>3. Intellectual Property</h2>
  <p>
    All content, features, and functionality in the Post Explore section,
    including but not limited to text, graphics, logos, and software, are and
    will remain the exclusive property of Gymlink and its licensors,
    and are protected by copyright, trademark, and other laws that protect
    intellectual property and proprietary rights.
  </p>
  <h2>4. Termination</h2>
  <p>
    We may terminate or suspend your access to the Post Explore section
    immediately, without prior notice or liability, under our sole discretion,
    for any reason whatsoever, including but not limited to a breach of this
    Agreement.
  </p>
  <p>
    All provisions of the Agreement which, by their nature, should survive
    termination, shall survive termination, including but not limited to
    ownership provisions, warranty disclaimers, indemnity, and limitations of
    liability.
  </p>
  <h2>5. Changes to this Agreement</h2>
  <p>
    We reserve the right, at our sole discretion, to modify or replace this
    Agreement at any time. We will provide reasonable notice of any material
    changes. By continuing to access or use the Post Explore section after any
    revisions become effective, you agree to be bound by the revised terms. do
    not agree to the new terms, you are no longer authorized to use the Post
    Explore section.
  </p>
  <h2>6. Governing Law</h2>
  <p>
    This Agreement shall be governed and construed in accordance with the laws
    of State of California, United States, without regard to its conflict of law provisions.
  </p>
  <p>
    Our failure to enforce any right or provision of this Agreement will not be
    considered a waiver of those rights. If any provision of this Agreement is
    held to be invalid or unenforceable by a court, the remaining provisions of
    this Agreement will remain in effect. This Agreement constitutes the entire
    agreement between us regarding the Post Explore section, and supersede and
    replace any prior agreements we might have had between us regarding the Post
    Explore section.
  </p>
  <h2>7. Contact Us</h2>
  <p>
    If you have any questions about this Agreement, please contact us at gymlinkappx@gmail.com.
  </p>
  </main>
</Layout>
