---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Gymlink - Link up with like-minded fitness enthusiasts.'>
  <main class='bg-dark-500 min-h-screen'>
    <h1 class='text-light-500'>Gymlink</h1>
  </main>
</Layout>
