---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';

const backgroundUrl = "https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1550&q=80"

// 1. size the text properly
---

<Layout title='Gymlink - Link up with like-minded fitness enthusiasts.'>
  <main class={`bg-dark-500 min-h-screen bg-[url("${backgroundUrl}")] relative bg-cover bg-center`}>
    <div class="inset-0 bg-gradient-to-t from-dark-500 to-transparent z-30 absolute"></div>
    <section class="flex flex-col gap-5 pt-32 md:pt-96 px-4 md:px-24 z-50 tracking-wider ">
      <div class="z-40 flex flex-col gap-5">
        <h1 class="text-light-500 text-5xl md:text-7xl font-bold brightness-200 w-3/4">Link up with like-minded fitness enthusiasts.</h1>
        <h3 class='text-light-400 text-xl '>A social platform to find dates, friends and gym buddies.</h3>
      </div>
      <Button text="Download" url="#"/>
    </section>
  </main>
  
</Layout>
