---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Privacy Policy'>
  <h1>Privacy Policy for Gymlink</h1>

  <article class='text-white mt-20'>
    <p>Last updated: April 30th, 2023</p>

    <p>
      This Privacy Policy describes how Gymlink ("we," "us," or "our") collects,
      uses, and discloses information about you when you use our app. By using
      Gymlink, you agree to the collection and use of information in accordance
      with this policy.
    </p>

    <h2>Information Collection and Use</h2>

    <p>
      We collect information to provide and improve our app for you. The types
      of information we collect include:
    </p>

    <ul>
      <li>
        <strong>Personal Information:</strong> We collect your phone number when
        you log in using your phone number. We use this information to create and
        manage your Gymlink account.
      </li>
      <li>
        <strong>Location Information:</strong> We collect your coordinates to show
        you nearby users and gyms. You can enable or disable location services in
        your device settings.
      </li>
    </ul>

    <h2>Sharing Your Information</h2>

    <p>
      We will not sell, trade, or rent your personal information to third
      parties. We may share your information in the following circumstances:
    </p>

    <ol>
      <li>
        To provide and maintain our app, including sharing your location
        information with other users to facilitate connections.
      </li>
      <li>
        To comply with any applicable laws and regulations or in response to a
        lawful request for information.
      </li>
      <li>
        To protect the rights, property, or safety of Gymlink, our users, or the
        public.
      </li>
    </ol>

    <h2>Security</h2>

    <p>
      The security of your information is important to us. We implement
      appropriate measures to protect your information from unauthorized access,
      use, or disclosure. However, please be aware that no method of
      transmission or storage is 100% secure, and we cannot guarantee the
      absolute security of your information.
    </p>

    <h2>Changes to This Privacy Policy</h2>

    <p>
      We may update our Privacy Policy from time to time. We will notify you of
      any changes by posting the new Privacy Policy on this page. You are
      advised to review this Privacy Policy periodically for any changes.
      Changes to this Privacy Policy are effective when they are posted on this
      page.
    </p>
  </article>

  Contact Us If you have any questions or concerns about this Privacy Policy,
  please contact us at:
</Layout>
