---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Contact'>
  <h1>Contact & Support</h1>
  
  <article class="min-h-screen mt-20 mx-auto max-w-2xl text-white">
  <p>For any questions or support, please contact us at <a href="mailto:gymlinkappx@gmail.com">gymlinkappx@gmail.com</a>.</p>
  </article >
</Layout>
