<footer>
  <div class='bg-dark-500 py-12 text-light-400 grid place-items-center'>
    <p>
      © 2023 - All Rights with <a href='https://dylanreed.dev' target='_blank'
        >Dylan Reed - carbonesigned</a
      >
    </p>
  </div>
</footer>
