---
import Button from "./Button.astro";
// tasks
// 1. change proper nav colors.
// 2. create a button component.
// 3. replace that button in here and in the hero section on the index page.
---

<header class="w-full z-50 absolute bg-dark-500/30 backdrop-blur-sm">
    <nav class="py-5">
        <ul  class="flex justify-between items-center px-7">
            <li class="text-2xl font-bold">
                <a href="#" class="text-light-500">Logo</a>
            </li>
       <Button text="Download" url="#"/>
        </ul>
    </nav>
</header>