---
import UserOnFeed from './UserOnFeed.astro';
---

<div
  class='z-50 w-[200px] xl:w-[250px] hidden md:flex absolute h-[400px] xl:h-[500px] bg-black rounded-3xl border-4 overflow-hidden border-dark-400 gap-[0.5px] right-0 top-1/2 -translate-y-1/2'
>
  <div
    class='absolute z-50 top-0 left-0 w-full h-[75px] bg-gradient-to-b from-dark-500 to-transparent'
  >
  </div>
  <div
    class='absolute z-50 bottom-0 left-0 w-full h-[100px] bg-gradient-to-t from-dark-500 to-transparent'
  >
  </div>

  <div
    class='absolute z-50 top-2 left-1/2 -translate-x-1/2 w-[75px] rounded-full h-[20px] bg-black'
  >
  </div>

  <div
    class='absolute z-50 bottom-0 w-full left-1/2 -translate-x-1/2 rounded-full h-[50px] bg-black flex flex-row justify-evenly items-center'
  >
    <i class='ph-bold ph-chats-teardrop text-light-400 text-xl'></i>
    <div class='relative'>
      <i class='ph-fill ph-house text-xl text-accent-500'></i>
      <i
        class='ph-fill text-2xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 ph-house text-accent-500 blur'
      ></i>
    </div>
    <i class='ph-bold ph-user text-light-400 text-xl'></i>
  </div>
  <div class='flex flex-col h-full flex-1 animate-row-1-translate'>
    <UserOnFeed src='/mock-users/user01.png' />
    <UserOnFeed src='/mock-users/user02.png' />
    <UserOnFeed src='/mock-users/user03.png' />
  </div>
  <div class='flex flex-col gap-[0.5px] flex-1 animate-row-2-translate'>
    <UserOnFeed src='/mock-users/user04.png' />
    <UserOnFeed src='/mock-users/user05.png' />
    <UserOnFeed src='/mock-users/user06.png' />
  </div>
  <div class='flex flex-col gap-[0.5px] flex-1 animate-row-3-translate'>
    <UserOnFeed src='/mock-users/user07.png' />
    <UserOnFeed src='/mock-users/user01.png' />
    <UserOnFeed src='/mock-users/user02.png' />
  </div>
</div>
