---
export interface Props {
  src: string;
}

const { src } = Astro.props;
---

<div
  class='w-full rounded-xl overflow-hidden border-[0.5px] border-transparent hover:border-white ease-in-out duration-200 hover:brightness-110 hover:saturate-150'
>
  <img src={src} class='object-cover' alt='user' />
</div>
